.section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.background--one{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    & .block-section--one{
        display: block;
        text-align: center;
        & img {
            margin-top: 40px;
        }
        & h1{
            font-weight: 400;
            font-size: 25px;
        }
    }
}

.background--two{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-content: space-between;


    & .block-section--two{
        display: flex;
        justify-content: space-evenly;
        margin-top: 7%;

        & img {
            height: auto;
            max-width: 450px;
        }

        & p {
            font-size: 23px;
            margin-top: 50px;
            text-align: right;
        }
        
        & .text-block--two{
            max-width: 40%;
        }
    }
}